 
       
       #map{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    position:absolute;
    overflow: hidden;
}


.center{
    position: absolute;
    height: 50px;
    width: 50px;
    background: none;
    top:calc(50% - 50px/2);
    left:calc(50% - 50px/2);
}